* {
  box-sizing: border-box;
  background-color: rgb(255, 157, 157);
}
body {
  font-family: "AdventureIndianaJones";
}
.AIJ {
  font-family: "AdventureIndianaJones";
}
.Cool {
  font-family: "Coolvetica";
}
